# This file should not be commited (it was added to .gitignore to make sure this doesn't happen).
# It's purpose is to hold user specific details that are not to be shared.
# Configurations in this file are in effect only if Nugrant - Vagrant plugin is installed (https://github.com/maoueh/nugrant).
# After cloning the vm repo make sure you run: cp .vagrantuser.example .vagrantuser


# Usage:
#
# define in .vagrantuser
#
# aws:
#   access_key: "123456"
#   secret_key: "qwerty"
#
# then use in Vagrantfile
#
# config.user.aws.access_key == "123456"
# config.user.aws.secret_key == "qwerty"

vm:
    name:       "custom-vm-name-usually-the-application-or-site-name"
    memory:     1024
    show_gui:   false
    box:        "puppetlabs/ubuntu-14.04-64-puppet"
    box_url:    ""
    network:
        ip: "192.168.58.100"
    host:
        hostname: "example.local"
        alias   : []
app:
    code:
        directory:  "../app"